* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


/* Title editing*/

.logo {
    font-size: 33px;
    color: white;
    font-weight: 600;
}


/* menu bar -- blue color home/coding stuff extra ---->*/

nav {
    height: 60px;
    background: #48d8eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

nav ul {
    display: flex;
    list-style: none;
}


/* menu iteams editing*/

nav ul li {
    padding: 0 8px;
}


/* links of  menu bar*/

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}


/* links of  menu bar and keep active link*/

nav ul li a:hover,
nav ul li a.active {
    background: white;
    color: #1b1b1b;
}


/*Menu Bar for mobile view*/

.menu-btn i {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}


/*For Mobile view Editing*/

@media (max-width:940px) {
    .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i::before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 60px;
        left: -100%;
        background: rgb(145, 217, 235);
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0%;
    }
    nav ul li {
        margin: 4px 0;
    }
    nav ul li a {
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.active {
        color: rgb(2, 32, 32);
        background: white;
    }
}


/*Home Page --->*/

.banner {
    margin-top: 0ch;
    height: 80vh;
    text-align: center;
    background-image: url(https://learning.tcsionhub.in/per/g01/pub/1016/iDH/instance/1/product/microsite_data/IONNQT17092020/microsite_1621170529535/image/NQT_banner_img1.png?version=1968370117);
    background-position: center;
    background-size: cover;
    color: white;
    letter-spacing: 3px;
    font-weight: 600;
    background-size: 100% 100%;
}


/*Heading jobs*/

.banner h1 {
    padding-top: 170px;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.banner a {
    color: #0694fa;
}

#recruiters {
    padding-top: 50px;
    padding-bottom: 100px;
}

#recruiters h3 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 3.5ch;
}

h3::before {
    content: '';
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: -10;
    margin-top: -15px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 90px;
}

.pic {
    height: 60px;
    width: 160px;
    border-radius: 5px;
    border-color: black;
    margin-left: 5px;
}

.companies {
    padding-top: 3ch;
    text-align: center;
}


/*RECENT JOBS---*/

#jobs {
    background: #f8f8fa;
    padding: 50px 0;
}

.company-details {
    box-shadow: 0 2px 70px 0 rgba(110, 130, 208, .18);
    border-radius: 5px;
    margin-bottom: 20px;
}

.company-details {
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    border-style: groove;
}

.company-details a:hover {
    color: red;
}

.job-update {
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.job-update.fa {
    margin-top: 5px;
    margin-right: 10px;
    color: #77d1b1;
    padding-left: 2ch;
}
