body {
    padding: 5px;
    background-color: rgb(245, 238, 238);
    font-family: Tahoma;
}

.questions-blok {
    height: auto;
    width: auto;
    border-style: groove;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

h2 {
    background-color: yellow;
}

.ans {
    font-family: monospace;
    font-size: medium;
}

.q {
    font-weight: lighter;
    font-family: Tahoma;
}

a {
    color: rgb(243, 9, 9);
}

a:hover {
    color: rgb(10, 137, 248);
}